<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="BatchSize" value="1000" />
		<add key="YearFrom" value="2021"/>
      <add key="PathFileBK" value="D:\Fuentes\VPECH\DataProcess"/>
      <add key="PathFileBKProcess" value="D:\Fuentes\VPECH\DataProcess\Process"/>
      <add key="PathFileBKout" value="\\192.168.1.38\bk\out"/>
      <add key="PathFileBKServer" value="c:\bk\out"/>
      <add key="PathSQLData" value="C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\"/>
      <add key="BkDbName" value="America"/>           
	</appSettings>

	<connectionStrings>
      <add name="master" connectionString="Password=Mml1609;Persist Security Info=True;User ID=sa;Initial Catalog=master;Data Source=alusoft.ddns.net"/>
		<add name="America" connectionString="Password=Mml1609;Persist Security Info=True;User ID=sa;Initial Catalog=AmericaMDQ;Data Source=alusoft.ddns.net"/>
		<add name="WHS" connectionString="Password=Mml1609;Persist Security Info=True;User ID=sa;Initial Catalog=WhsVepech;Data Source=alusoft.ddns.net"/>      
	</connectionStrings>
	
</configuration>